{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 py-5">
                {%if validlink%}
	<form method="POST">
		{%csrf_token%}
		<div class="w50 form-group">
			{{form|crispy}}
		</div>
		<input type="hidden" name="next" value="{{next}}" />
		<br>
		<div class="form-group w100">
			<input class='btn btn-info text-white' type="submit" value="Change password">
		</div>
	</form>
	{%else%}
	You may already used this code or expired.
	{%endif%}
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
{%endblock%}