{% extends 'base/base.html' %}
{%load static%}
{% load crispy_forms_tags %}
{%block content%}
<section class="main">
    <div class="container pt-3">
        <img src="images/profile.png" class="img-fluid" alt="">
    </div>
    <div class="container p-3">
        <div class="row">
            
            <div class="col-sm-8">
                <div class="article bg-white p-3 mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-wrap flex-row align-items-center gap-2">
                            <div><img src="{{post.author.profile.profile.url}}" style="height: 60px; width: 60px; border-radius: 50%;" alt=""></div>
                            <div class="fs-4"> <a class="text-decoration-none" href="{%url 'profile' post.author.username %}">{{post.author.username}}</a> </div> <span>{{post.created_at|timesince}} ago</span>
                        </div>
                        <div class="">
                            {%if request.user.pk == post.author.pk %}
                            <a href="{%url 'post-update' post.pk %}" class="d-inline-flex me-2 gap-2 align-items-center">  <i class="bi bi-pencil-square fs-6"></i></a>
                            <div class="d-inline-flex gap-2 align-items-center ">{{post.post_views}}  <i class="bi bi-eye fs-5"></i></div>
                            {%endif%}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <h2 class="text-decoration-none">{{post.title}}</h2>
                            {% if post.get_image_url %}
                            <img class="w-100" style="height: 300px;object-fit:cover ;" src="{{post.get_image_url}}" alt="">
                            {%endif%}
                            <p class="lead">
                                {{post.body|safe}}
                            </p>
                            <div class="d-flex align-items-center mb-3 gap-2 flex-wrap">
                                {%for tag in post.tags.all %}
                                <a href="{%url 'post-tag' tag.name%}" class="btn btn-light shadow-none border">#{{tag.name}}</a> 
                                {%endfor%} 
                            </div>
                            
                            
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <div class="d-flex flex-wrap align-items-center gap-2">
                                    <a href="#" class="btn btn-light shadow-none"><i class="bi bi-heart me-3"></i> {{post.like_count}}</a>
                                    {%if is_liked%}
                                    <a href="{%url 'like' post.pk%}" class="btn "><i class="bi bi-hand-thumbs-down-fill me-3"></i></a>
                                    {%else%}
                                    <a href="{%url 'like' post.pk%}" class="btn "><i class="bi bi-hand-thumbs-up-fill me-3"></i></a>
                                    {%endif%}

                                    <a href="#" class="btn btn-light shadow-none"><i class="bi bi-chat me-3"></i> {{post.get_comment_count}} Comments</a>
                                 </div>
                                 <div class="d-flex flex-wrap align-items-center gap-2">
                                    {%if is_favorite%}
                                    <a href="{%url 'add-fav' post.pk%}" class="btn btn-light shadow-none">Remove</a>
                                    {%else%}
                                    <a href="{%url 'add-fav' post.pk%}" class="btn btn-light shadow-none">Save</a>
                                    {%endif%}
                                  </div>
                            </div>
                            <hr>
                            <h4>All Comments</h4>
                            {%if comments %}
                            {%for comment in comments%}
                            {%if comment.user == request.user %}
                            <div class="article bg-white p-3 mb-2 ">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-wrap flex-row align-items-center gap-2">
                                        <div><img src="{%static  'images/avatar.jpg' %}" style="height: 40px; width: 40px; border-radius: 50%;" alt=""></div>
                                        <div class="fs-4">{{comment.name}}</div> <span>{{comment.created_at|timesince}} ago</span>
                                    </div>
                                    <div>
                                        {%if request.user == comment.user %}
                                        {% if comment.status == 'P' %}
                                        <a class="ms-1 text-decoration-none" href="{%url 'com-publish' comment.pk%}">Unpublish</a>
                                        {%else%}
                                        <a class="ms-1 text-decoration-none" href="{%url 'com-publish' comment.pk%}">Publish</a>
                                        {%endif%}
                                        {%endif%}
                                     </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-11" >
                                        <div  class="p-2 ps-0">
                                            <h3>{{comment.title}}</h3>
                                        <p class="lead">
                                            {{comment.body}}
                                        </p> 
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-wrap align-items-center gap-2">
                                                <!-- add collapse here -->
                                                {% with replies=comment.replies.count %}
                                                <a href=""class="btn btn-light shadow-none"><i class="bi bi-heart me-3"></i> {{replies}} Replies</a>
                                                {%endwith%}
                                             </div>
                                        </div>
                                        </div>
                                        <!-- <div id="collapOne" class="collapse"> -->
                                        <h3>Replies</h3>
                                        {%for reply in comment.replies.all %}
                                        {%if reply.user == request.user %}
                                        <div class="article bg-white p-3 mb-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-wrap flex-row align-items-center gap-2">
                                                    <div><img src="{%static 'images/avatar.jpg'%}" style="height: 40px; width: 40px; border-radius: 50%;" alt=""></div>
                                                    <div class="fs-4">{{reply.name}}</div> <span>{{reply.created_at}}</span>
                                                </div>
                                                <div>
                                                   {%if request.user == reply.user %}
                                                   {% if reply.status == 'P' %}
                                                   <a class="ms-1 text-decoration-none" href="{%url 'com-publish' reply.pk%}">Unpublish</a>
                                                   {%else%}
                                                   <a class="ms-1 text-decoration-none" href="{%url 'com-publish' reply.pk%}">Publish</a>
                                                   {%endif%}
                                                   {%endif%}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-11">
                                                    <div class="p-2 ps-0">
                                                        <h3>{{reply.title}}</h3>
                                                    <p class="lead">
                                                       {{reply.body}}
                                                    </p> 
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-wrap align-items-center gap-2">
                                                            <!-- <a href="#" class="btn btn-light shadow-none"><i class="bi bi-heart me-3"></i> 53 Reactions</a> -->
                                                            <!-- <a href="#" class="btn btn-light shadow-none"><i class="bi bi-chat me-3"></i> Reply</a> -->
                                                         </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        {% elif reply.status == 'P' %}
                                        <div class="article bg-white p-3 mb-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-wrap flex-row align-items-center gap-2">
                                                    <div><img src="{%static 'images/avatar.jpg'%}" style="height: 40px; width: 40px; border-radius: 50%;" alt=""></div>
                                                    <div class="fs-4">{{reply.name}}</div> <span>{{reply.created_at}}</span>
                                                </div>
                                                <div>
                                                   {%if request.user == reply.user %}
                                                   {% if reply.status == 'P' %}
                                                   <a class="ms-1 text-decoration-none" href="{%url 'com-publish' reply.pk%}">Unpublish</a>
                                                   {%else%}
                                                   <a class="ms-1 text-decoration-none" href="{%url 'com-publish' reply.pk%}">Publish</a>
                                                   {%endif%}
                                                   {%endif%}
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-11">
                                                    <div class="p-2 ps-0">
                                                        <h3>{{reply.title}}</h3>
                                                    <p class="lead">
                                                       {{reply.body}}
                                                    </p> 
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-wrap align-items-center gap-2">
                                                            <!-- <a href="#" class="btn btn-light shadow-none"><i class="bi bi-heart me-3"></i> 53 Reactions</a> -->
                                                            <!-- <a href="#" class="btn btn-light shadow-none"><i class="bi bi-chat me-3"></i> Reply</a> -->
                                                         </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                        
                                       {%if request.user.is_authenticated%}
                                       <a class="collapsed btn btn-light" data-bs-toggle="collapse" href="#collap{{comment.id}}">Reply</a>
                                        
                                       <div id="collap{{comment.id}}" class="collapse my-2">
                                           <h2>Reply</h2>
                                           <form action="" method="post">
                                               {%csrf_token%}
                                               {{form|crispy}}
                                               <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                <div class="mt-2">
                                                 <input class="btn btn-info text-white px-4" type="submit" value="submit">
                                                </div>
                                             </form>
                                       </div>
                                       {%else%}
                                       {%endif%}

                                    </div>
                                    
                                </div>
                            </div>
                            {%elif comment.status == 'P' %}
                            <div class="article bg-white p-3 mb-2 ">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-wrap flex-row align-items-center gap-2">
                                        <div><img src="{%static  'images/avatar.jpg' %}" style="height: 40px; width: 40px; border-radius: 50%;" alt=""></div>
                                        <div class="fs-4">{{comment.name}}</div> <span>{{comment.created_at|timesince}} ago</span>
                                    </div>
                                    <div>
                                        {%if request.user == comment.user %}
                                        {% if comment.status == 'P' %}
                                        <a class="ms-1 text-decoration-none" href="{%url 'com-publish' comment.pk%}">Unpublish</a>
                                        {%else%}
                                        <a class="ms-1 text-decoration-none" href="{%url 'com-publish' comment.pk%}">Publish</a>
                                        {%endif%}
                                        {%endif%}
                                     </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-11" >
                                        <div  class="p-2 ps-0">
                                            <h3>{{comment.title}}</h3>
                                        <p class="lead">
                                            {{comment.body}}
                                        </p> 
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-wrap align-items-center gap-2">
                                                <!-- add collapse here -->
                                                {% with replies=comment.replies.count %}
                                                <a href=""class="btn btn-light shadow-none"><i class="bi bi-heart me-3"></i> {{replies}} Replies</a>
                                                {%endwith%}
                                             </div>
                                        </div>
                                        </div>
                                        <!-- <div id="collapOne" class="collapse"> -->
                                        <h3>Replies</h3>
                                        {%for reply in comment.replies.all %}
                                            {%if reply.status == 'P' %}
                                            <div class="article bg-white p-3 mb-2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="d-flex flex-wrap flex-row align-items-center gap-2">
                                                        <div><img src="{%static 'images/avatar.jpg'%}" style="height: 40px; width: 40px; border-radius: 50%;" alt=""></div>
                                                        <div class="fs-4">{{reply.name}}</div> <span>{{reply.created_at}}</span>
                                                    </div>
                                                    <div>
                                                       {%if request.user == reply.user %}
                                                       {% if reply.status == 'P' %}
                                                       <a class="ms-1 text-decoration-none" href="{%url 'com-publish' reply.pk%}">Unpublish</a>
                                                       {%else%}
                                                       <a class="ms-1 text-decoration-none" href="{%url 'com-publish' reply.pk%}">Publish</a>
                                                       {%endif%}
                                                       {%endif%}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-1"></div>
                                                    <div class="col-sm-11">
                                                        <div class="p-2 ps-0">
                                                            <h3>{{reply.title}}</h3>
                                                        <p class="lead">
                                                           {{reply.body}}
                                                        </p> 
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="d-flex flex-wrap align-items-center gap-2">
                                                                <!-- <a href="#" class="btn btn-light shadow-none"><i class="bi bi-heart me-3"></i> 53 Reactions</a> -->
                                                                <!-- <a href="#" class="btn btn-light shadow-none"><i class="bi bi-chat me-3"></i> Reply</a> -->
                                                             </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            {%endif%}
                                        {%endfor%}
                                        
                                       {%if request.user.is_authenticated%}
                                       <a class="collapsed btn btn-light" data-bs-toggle="collapse" href="#collap{{comment.id}}">Reply</a>
                                        
                                       <div id="collap{{comment.id}}" class="collapse my-2">
                                           <h2>Reply</h2>
                                           <form action="" method="post">
                                               {%csrf_token%}
                                               {{form|crispy}}
                                               <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                <div class="mt-2">
                                                 <input class="btn btn-info text-white px-4" type="submit" value="submit">
                                                </div>
                                             </form>
                                       </div>
                                       {%else%}
                                       {%endif%}

                                    </div>
                                    
                                </div>
                            </div>
                            {%endif%}
                            {%endfor%}
                            {%else%}
                            <h6>No Comments To Show Yet</h6>
                            {%endif%}
                            
                           
                            <br>
                                {%if request.user.is_authenticated%}
                                <h4>Add Comment</h4>
                            <form action="" method="post">
                                {%csrf_token%}
                                {{form|crispy}}
                                 <div class="mt-2">
                                  <input class="btn btn-info text-white px-4" type="submit" value="submit">
                                 </div>
                              </form>
                              <br>
                                {%else%}
                                need to login to comment
                                {%endif%}
                              <br>
                            <h3>Simalar Posts</h3>
                            {%for post in similar_posts%}
                            <div class="py-2">
                                <a class="text-decoration-none" href="{%url 'post-detail' post.slug%}">{{post.title}}</a>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="p-3 bg-white mb-3">
                   <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-wrap gap-3 align-items-center py-2">
                        <div><img src="{{post.author.profile.profile.url}}" style="height: 60px; width: 60px; border-radius: 50%;" alt=""></div>
                        <div class="fs-4"><a class="text-decoration-none" href="{%url 'profile' post.author.username%}">{{post.author.username}}</a></div> 
                       </div>
                       <!-- <a href="#" class="text-decoration-none btn btn-info text-white">Follow</a> -->
                   </div>
                   <p class="lead">
                    Lorem ipsum dolor sit amet consectetur
                     adipisicing elit.
                      Praesentium earum ex adipisci veniam deleniti.
                   </p>
                   {%if request.user == post.author.username %}
                   {%else%}
                   {% if request.user not in post.author.followers.all %}
                   <a class="btn my-2 btn-info text-white w-100" href="{%url 'follow' post.author.id%}">Follow</a>
                   {% else %}
                   <a class="btn my-2 btn-info text-white w-100" href="{%url 'follow' post.author.id%}">Unfollow</a>
                   {% endif %}
                   {%endif%}
                </div>
                <div class="p-3 bg-white mb-3">
                    <h4>Other Posts From <a class="mt-2 text-decoration-none"
                        href="{%url 'profile' post.author.username%}">{{post.author.username}}</a></h4>
                <hr>
                {%for post in post.author.post_set.all%}
                {%if post.status == 'P' %}
                <a class="text-decoration-none" href="{%url 'post-detail' post.slug%}">{{post.title}}</a> <br> <br>
                {%endif%}
                {%endfor%}
                </div>
            </div>
        </div>
    </div>
    </section>
{%endblock%}