{%extends 'base/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3>Create Post</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div>
                    {{form.title|as_crispy_field}}
                </div>
                <div>
                    {{form.body|as_crispy_field}}
                </div>
                <div>
                    {{form.category|as_crispy_field}}
                </div>
                <div>
                    {{form.tags|as_crispy_field}}
                </div>
                <div class="mb-2">
                    {{form.thumbnail|as_crispy_field}}
                </div>
                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %} 
                       <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                       </div>
                    {% endfor %}
                {% endfor %}
             {% endif %}
                <input type="submit" class="btn btn-info text-white" value="submit">
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{%endblock%}