{%extends 'base/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3>Create Post</h3>
            <form action="" method="post">
                {%csrf_token%}
                <div>
                    {{form.title|as_crispy_field}}
                </div>
                <div>
                    {{form.body|as_crispy_field}}
                </div>
                <div>
                    {{form.category|as_crispy_field}}
                </div>
                <div>
                    {{form.tags|as_crispy_field}}
                </div>
                <input type="submit" class="btn btn-info text-white" value="submit">
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{%endblock%}