 <!-- footer -->
 <footer class="py-2 mt-5 footer-color bg-dark text-white">
  <div class="container">
      <div class="row">
          <div class="d-flex justify-content-between align-items-center  py-3 flex-column flex-md-row">
              <div class="display-4">
                  <h2>Hadhuub</h2>
              </div>
              <form action="" class="d-flex flex-column gap-2 my-2">
                  <label for="Email">Subscribe To Our News Letter</label>
                  <!-- <input type="email" placeholder="Enter Your Email" class="form-control"> -->
                  <div class="input-group mb-3 bg-white p-1">
                      <input type="email" class="form-control border-0 shadow-none" placeholder="Enter Your Email"
                          aria-label="Example text with button addon" aria-describedby="button-addon1">
                      <button class="btn primary-color shadow-none" type="button"
                          id="button-addon1">submit</button>
                  </div>
              </form>
          </div>
          <hr>
          <div class="row py-3">
              <div class="col-sm-4">
                  <h6 class="text-white">About us</h6>
                  <p class="lead footer-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolor numquam ullam incidunt
                      accusantium
                      assumenda illum blanditiis atque cupiditate, excepturi maxime impedit deserunt earum
                      reprehenderit
                      exercitationem, labore similique nulla dolorum!
                  </p>
              </div>
              <div class="col-sm-2">
                  <h6 class="text-white">Company</h6>
                  <ul class="list-unstyled">
                      <li>About</li>
                      <li>Terms and Privacy</li>
                      <li>Features</li>
                  </ul>
              </div>
              <div class="col-sm-2">
                  <h6 class="text-white">Usefull Links</h6>
                  <ul class="list-unstyled">
                      <li>Home</li>
                      <li>About</li>
                      <li>Service</li>
                  </ul>
              </div>
              <div class="col-sm-2">
                  <h6 class="text-white">Address</h6>
                  <ul class="list-unstyled">
                      <a href="#" style="color: #999;" class="text-decoration-none">Hargeisa</a>
                      <li><a href="#" style="color: #999;" class="text-decoration-none">(+252)-698-97446</a></li>
                      <li><a href="#" style="color: #999;" class="text-decoration-none">shaamar@gmail.com</a></li>
                  </ul>
              </div>
              <div class="col-sm-2">
                  <h6 class="text-white">Service</h6>
                  <ul class="list-unstyled">
                      <li>Web Design</li>
                      <li>Web Development</li>
                      <li>Responsive Design</li>
                      <li>Accessiblity</li>
                  </ul>
              </div>
          </div>
          <hr>
          <div class="d-flex justify-content-between align-items-center py-3 flex-wrap text-color">
              <h6 class="footer-color">hadhuub.com &copy; all righ is reserved</h6>
              <div class="icons d-flex gap-2">
                  <a class="text-decoration-none text-light" href="#"> <i class="bi bi-facebook"></i></a>
                  <a class="text-decoration-none text-light" href="#"> <i class="bi bi-twitter"></i></a>
                  <a class="text-decoration-none text-light" href="#"> <i class="bi bi-youtube"></i></a>
                  <a class="text-decoration-none text-light" href="#"><i class="bi bi-linkedin"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>